node_modules
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
docs
.vscode
.idea
*.swp
*.swo
